<?xml version="1.0" encoding="utf-8"?>
<manifest package="xstar.com.commons"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".App"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="app_key"
            android:value="123"/>

        <activity
            android:name=".LauncherActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ButtonToBiggerActivity"
            android:label="@string/title_activity_button_to_bigger">
        </activity>
        <activity
            android:name=".MenuListActivity"
            android:label="@string/title_activity_menu_list">
        </activity>
        <activity
            android:name=".DialogFragmentActivity"
            android:label="@string/title_activity_dialog_fragment">
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@style/MyDialogStyle"/>
        <activity
            android:name=".TwoDGenereteActivity"
            android:label="@string/title_activity_two_dscan">
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera">
        </activity>
        <activity
            android:name=".DataShowActivity"
            android:label="@string/title_activity_data_show">
        </activity>
        <activity android:name=".ButtonTestActivity"/>
        <activity android:name=".MarqeeTextActivity"/>
        <activity android:name=".CutScreenActivity">
        </activity>
        <activity android:name=".Hack50Activity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".hack23.Hack23Activity">
        </activity>
    </application>

</manifest>